body {
    background-color: #D98C5F;
    padding: 0;
    margin: 0;
}
h1 {
    color: #59271C;
    text-align: center;
    background-color: #F24130;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.recipes-links{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.recipes-links img {
    height: 10em;
    width: 100%;
}
a:hover {
    opacity: 50%;
}